body {
    padding-top: 5rem;
    padding-bottom: 2rem;
    line-height: 1.3 !important;
}

#main {
    margin-top: 20px;
}

/* helpers */
.no-padding {
    padding: 0 !important;
}

/* headings etc. */
h1 {
    margin-bottom: 20px;
    font-weight: bolder;
    color: var(--dark);
}

h2, h3, h4, h5, h6 {
    color: var(--primary);
}
legend {
    font-size: 2.6575rem;
    margin-top: 1.0rem;
    font-weight: bolder;
}

/* text */
span.help-block {
    color: var(--danger);
}

p {
    font-family: inherit !important;
}

/* errors */
ul.errorlist {
    color: var(--danger);
}

ul.errorlist li {
    list-style: none;
    margin-left: -40px;
}

/* forms and inputs */
.form-inline {
    margin-bottom: 10px;
}

.form-inline div, label {
    margin-right: 10px !important;
}

label {
    font-weight: bolder;
    color: var(--blue);
}

label.control-label {
    font-weight: bold;
}

input[type=checkbox][disabled] {
    filter: invert(25%);
}

.btn:hover {
    border-color: var(--blue);
}

.asteriskField {
    margin-left: 0.2em;
    color: var(--dark);
}

/* tables */
.table {
    width: 100%;
}

.table td {
    vertical-align: top !important;
}

.table thead th {
    border-bottom: none !important;
}

/* pagination */
.pagination li {
    margin: 3px;
}

/* auto-dropdown on hover in the dropdown menus */
.navbar-nav li:hover>.dropdown-menu {
    display: block;
}

/* misch-ish */
.word-wrap {
    word-break: break-all;
}

/* left side menu */
.left-menu {
  position: fixed;
  top: calc(15% + (10px/2));
}

/* forms */
form ul {
    padding-inline-start: 0;
}

form li {
    list-style: none;
}

/* utils ... sort of */
.red {
    background-color: red;
}

.green {
    background-color: green;
}

/* easy autocomplete */
.easy-autocomplete-container ul li b {
    font-weight: bolder !important;
    color: #000;
}
