{% load i18n humanize bootleg bootstrap_tags %}
{% block content %}

<h3>{{ git_data.parsed_git_url.repo }} - {% trans "git/repo" %}</h3>

<p class="mb-4"><a href="{{ view.git_data.github_url }}">{{ view.git_data.github_url }}</a>

<table class="{% get_default_table_classes %}">
<tbody>
    {% if repo.description %}
        <tr>
            <td>{% trans "Description" %}</td>
            <td>{{ repo.description }}</td>
        </tr>
    {% endif %}
    <tr>
        <td>{% trans "Active branch" %}</td>
        <td>{{ view.git_data.repo.active_branch }}</td>
    </tr>
    <tr>
        <td>{% trans "Branches" %}</td>
        <td>
            {% for branch in view.git_data.repo.branches %}
                {{ branch }} {% if not forloop.last %}, {% endif %}
            {% endfor %}
        </td>
    </tr>
   <tr>
        <td>{% trans "git dir" %}</td>
        <td>{{ view.git_data.repo.git_dir }}</td>
    </tr>
</tbody>
</table>

<h3>{% trans "Latest commits" %}</h3>
<table class="{% get_default_table_classes %}">
<tbody>
    <tr>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Author" %}</th>
        <th>{% trans "Message" %}</th>
        <th>{% trans "Type" %}</th>
        <th></th>
    </tr>
    {% for commit in view.git_data.repo.iter_commits %}
        {% if view.git_data.repo.head.object == commit %}
            <tr class="table-success">
        {% else %}
            <tr>
        {% endif %}
        <td>{{ commit.committed_datetime }} <small>({{ commit.committed_datetime|naturaltime }})</small></td>
            <td>{{ commit.author }}</td>
            <td>{{ commit.message }}</td>
            {% if repo.head.object == commit %}
                    <td>{% trans "Current commit" %}</td>
            {% else %}
                    <td>{{ commit.type }}</td>
            {% endif %}
        <td><a href="{{ github_url }}/commit/{{ commit }}">{% trans "github" %}</a></td>
            </tr>
    {% endfor %}
</tbody>
</table>
{% endblock %}
