{% load i18n crispy_forms_tags bootstrap_tags bootleg %}
{% debug_bl "-> bootleg/form.html" %}

{% if form.is_search_form %}
    <form id="bootleg_q_form">
        <div class="input-group w-50">
            {{ form.q }}
            {% render_search_append %}
        </div>
    </form>
    {% if dql_form %}
        <p class="mt-2">
            <button class="btn btn-sm btn-primary" type="button" data-toggle="collapse"
                    data-target="#dql_search" aria-expanded="false" aria-controls="dql_search">
            {% trans "Advanced search" %}
            </button>
        </p>
        <div class="collapse {% if request.GET.dql %}show{% endif %}" id="dql_search">
            <form id="bootleg_dql_form">
                <div class="input-group w-50 mt-3">
                    {{ dql_form.dql }}
                    {% render_search_append %}
                </div>
            </form>
        </div>
    {% endif %}
{% else %}
    {% if forms or form %}
        {% if bootleg_settings.WRAP_FORMS %}
            <div class="w-50 bg-light border rounded p-4">
        {% else %}
            <div class="w-50">
        {% endif %}
    {% endif %}
{% endif %}

{% if forms %}
    {# TODO: don't always use multipart #}
    <form method="post" action="" enctype="multipart/form-data">
        {% crispy form helper %}
        {% for inner_form in forms %}
            <h5 class="mb-3 mt-3">{{ inner_form.heading }}</h5>
            {% crispy inner_form helper %}
        {% endfor %}
        <input type="submit" name="submit" value="{{ view.submit_button_text }}" class="btn btn-primary loading-button" id="submit-id-submit">
    </form>
{% else %}
    {% if form and not form.is_search_form %}
        {% if view.form_template %}
            {% include view.form_template %}
        {% else %}
            {% if form.helper %}
                {% crispy form form.helper %}
            {% else %}
                {% crispy form %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

{% if forms or form and not form.is_search_form %}
    </div>
{% endif %}