{% load i18n crispy_forms_tags bootstrap_tags %}

{% if form.is_search_form %}
    <form>
        <div class="input-group w-50">
            {{ form.q }}
            <div class="input-group-append">
                <button class="btn btn-secondary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </div>
        </div>
    </form>
{% else %}
    {% if forms or form %}
        {% if bootleg_settings.WRAP_FORMS %}
            <div class="w-50 bg-light border rounded p-4">
        {% else %}
            <div class="w-50">
        {% endif %}
    {% endif %}
{% endif %}

{% if forms %}
    {# TODO: don't always use multipart #}
    <form method="post" action="" enctype="multipart/form-data">
        {% crispy form helper %}
        {% for inner_form in forms %}
            <h5 class="mb-3 mt-3">{{ inner_form.heading }}</h5>
            {% crispy inner_form helper %}
        {% endfor %}
        <input type="submit" name="submit" value="{{ view.submit_button_text }}" class="btn btn-primary loading-button" id="submit-id-submit">
    </form>
{% else %}
    {% if form and not form.is_search_form %}
        {% crispy form form.helper %}
    {% endif %}
{% endif %}

{% if forms or form and not form.is_search_form %}
    </div>
{% endif %}

{% if extra_form %}
    <div class="w-50 bg-light border rounded p-4 mt-4">
        {% if extra_form.legend %}
            <legend class="mt-n2">{{ extra_form.legend }}</legend>
        {% endif %}
        {% crispy extra_form extra_form.helper %}
    </div>
{% endif %}
