{% load static i18n bootleg bootstrap_tags compress %}
{% if not request.is_ajax %}
<!doctype html>
<html lang="{{ bootleg_settings.html_language_code }}">
<head>
<meta charset="utf-8">
<title>{% block page_title %}{% get_page_title model view.page_title page_title %}{% endblock %}</title>
<meta name="description" content="{% block meta_description %}{% get_first_with_value meta_description view.meta_description view.title %}{% endblock %}" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="shortcut icon" type="image/x-icon" href="{% static bootleg_settings.FAVICON_FILE %}" />
{% include "bootleg/includes/css.html" %}
{% block extra_head %}
{% endblock %}

{# google analytics :( #}
{% if bootleg_settings.google_analytics_account %}
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ bootleg_settings.google_analytics_account }}"></script>
    <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', '{{ bootleg_settings.google_analytics_account }}');
    </script>
{% endif %}
{% if bootleg_settings.HEAD_TEMPLATE %}
    {% include bootleg_settings.HEAD_TEMPLATE %}
{% endif %}
</head>

<body>
{% include bootleg_settings.NAVIGATION_TEMPLATE %}

<main role="main" id="main" class="{{ bootleg_settings.CONTAINER_CSS_CLASS }}">
{% include "bootleg/includes/messages.html" %}

<h1>
{% block h1 %}
    {% get_first_with_value heading view.heading page_title view.page_title %}
{% endblock %}
</h1>
{% endif %}

{% block content %}
    {% if view.page_text %}
        {{ view.page_text }}
    {% endif %}
    {% include "bootleg/includes/form.html" %}
    {% if view.get_extra_text %}
        {{ view.get_extra_text|safe }}
    {% endif %}
    {% if extra_text %}
        {{ extra_text|safe }}
    {% endif %}
{% endblock %}

{% block page_content %}
{% endblock %}

{% if not request.is_ajax %}

{% block footer %}
{% endblock %}
</main>

{% include "bootleg/includes/js.html" %}
{% block extra_body %}
{% endblock %}
{% if bootleg_settings.FOOT_TEMPLATE %}
    {% include bootleg_settings.HEAD_TEMPLATE %}
{% endif %}

</body>
</html>

{% endif %}