{% extends bootleg_settings.ADMIN_TEMPLATE %}
{% load i18n bootleg %}
{% block content %}

{% if request.is_ajax %}
    <p id="object_top_{{ object.id }}">
        <button type="button" class="btn btn-danger mt-4 element-remover" data-element-id="#object_view_{{ object.id}}">
            {% trans "Close" %}</button>
        </a>
    </p>
{% endif %}

<h1>{{ object }}</h1>
{% if not request.is_ajax %}
    <p>
        <button type="button" onclick="history.back()" class="btn btn-primary mt-4">{% trans "Go back" %}</button></a>
    </p>
{% endif %}

<div class="card mb-4 bg-light">
    <div class="card-body">
        {% for field in object.get_simple_fields_except_id %}
            {% if field.name != "name" %}
                <h4 class="mt-4">{{ field.verbose_name }}</h4>
                {% get_attribute object field.name %}
            {% endif %}
        {% endfor %}
        {% for many_to_many_field in object.get_many_to_many_fields %}
            <h4 class="mt-4">{{ many_to_many_field.verbose_name }}</h4>
                {% get_many_to_many_fields_values object many_to_many_field.name as fields %}
                {% for field in fields %}
                    {{ field }}<br />
                {% endfor %}
        {% endfor %}
        {% for image_field in object.get_image_fields %}
            <h4 class="mt-4">{{ image_field.verbose_name }}</h4>
            <img src="{% get_attribute object image_field.name %}" height="200" />
        {% endfor %}
        {% if not model.meta.disable_create_update is True %}
            <p>
                <a href="{{ object.get_update_url }}"><button type="button" class="btn btn-primary mt-4">{% trans "Update" %}</button></a>
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}