{% extends bootleg_settings.ADMIN_TEMPLATE %}
{% load i18n static crispy_forms_tags humanize compress %}
{% load render_table from django_tables2 %}
{% block extra_head %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'djangoql/css/completion.css' %}" />
    {% endcompress %}
{% endblock %}
{% block title %}{{ heading }}{% endblock title %}

{% block h1 %}{{ model.meta.verbose_name_plural }}{% endblock %}

{% block content %}
{% if filter_form %}
    <div class="row">
        <div class="col-lg-2">
            <div class="bg-light border rounded p-4">
                {% if request.GET %}
                    <a href=".">
                        <button type="button" class="btn btn-sm btn-danger mb-2">{% trans "Clear search filter" %}</button>
                    </a>
                {% endif %}
                {% crispy filter_form filter_form.helper %}
            </div>
        </div>
        <div class="col-lg-10">
{% endif %}

{{ block.super }}
{% if not model.meta.disable_create_update is True %}
    <a href="{{ model.create_url }}">
        <button class="btn btn-primary mt-3 mb-3">{% trans "Create" %} {{ model.meta.verbose_name }}</button>
    </a>
{% endif %}

<div class="mt-4 mb-4">
    <strong>{{ paginator.count|intcomma }}</strong> {{ model.meta.verbose_name_plural }} {% trans "found" %}
</div>

{% if object_list %}
    {% render_table table %}
{% endif %}
{% endblock content %}

{% if filter_form %}
        </div>
    </div>
{% endif %}

{% block extra_body %}
    {% compress js %}
        <script src="{% static 'djangoql/js/lib/lexer.js' %}"></script>
        <script src="{% static 'djangoql/js/lib/LRUCache.js' %}"></script>
        <script src="{% static 'djangoql/js/completion.js' %}"></script>
        <script>
        DjangoQL.DOMReady(function () {
            new DjangoQL({
                introspections: {{ introspections|safe }},
                selector: 'textarea[name=dql]',
                syntaxHelp: null,
                autoResize: false,
                syntaxHelp: "{% url 'bootleg:djangoql_help' %}",
            });
        });
        </script>
    {% endcompress %}
{% endblock %}
